VITE_ENV=dev
#VITE_ENV=prod
VITE_GOOGLE_CLIENT_ID=xxxxxxxxxxxx.apps.googleusercontent.com # grab from Google Cloud Console, ensure this is set in your .env file
# its under "OAuth 2.0 Client IDs" in the credentials section, and should be of the format: xxxxxxxxxxxx.apps.googleusercontent.com
# also remember to all authorized JavaScript origins and redirect URIs in the Google Cloud Console to include your local development URL (e.g., http://localhost:5173) and production URL when you deploy.